.canto-tool {
  font-family: sans-serif;
  position: relative;

  &__input {
    padding-left: 38px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Crect width='14' height='14' x='5' y='5' stroke='currentColor' stroke-width='2' rx='4'%3E%3C/rect%3E%3Cpath stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5.13968 15.32L8.69058 11.5661C9.02934 11.2036 9.48873 11 9.96774 11C10.4467 11 10.9061 11.2036 11.2449 11.5661L15.3871 16M13.5806 14.0664L15.0132 12.533C15.3519 12.1705 15.8113 11.9668 16.2903 11.9668C16.7693 11.9668 17.2287 12.1705 17.5675 12.533L18.841 13.9634'%3E%3C/path%3E%3Cpath stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13.7778 9.33331H13.7867'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &-holder {
      position: relative;

      &--error {
        ^^& {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Crect width='14' height='14' x='5' y='5' stroke='rgb(224, 147, 147)' stroke-width='2' rx='4'%3E%3C/rect%3E%3Cpath stroke='rgb(224, 147, 147)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5.13968 15.32L8.69058 11.5661C9.02934 11.2036 9.48873 11 9.96774 11C10.4467 11 10.9061 11.2036 11.2449 11.5661L15.3871 16M13.5806 14.0664L15.0132 12.533C15.3519 12.1705 15.8113 11.9668 16.2903 11.9668C16.7693 11.9668 17.2287 12.1705 17.5675 12.533L18.841 13.9634'%3E%3C/path%3E%3Cpath stroke='rgb(224, 147, 147)' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M13.7778 9.33331H13.7867'%3E%3C/path%3E%3C/svg%3E");
          background-color: #fff3f6;
          border-color: #f3e0e0;
          color: #a95a5a;
          box-shadow: inset 0 1px 3px 0 rgba(146, 62, 62, .05);
        }
      }
    }

    &[contentEditable=true][data-placeholder]::before{
      position: absolute;
      content: attr(data-placeholder);
      color: #707684;
      font-weight: normal;
      opacity: 0;
    }

    &[contentEditable=true][data-placeholder]:empty {

      &::before {
        opacity: 1;
      }

      &:focus::before {
         opacity: 0;
       }
    }
  }

  &__progress {
    position: absolute;
    box-shadow: inset 0 1px 3px 0 rgba(102, 85, 107, 0.04);
    height: 100%;
    width: 0;
    background-color: #f4f5f7;
    z-index: -1;

    &--loading {
      -webkit-animation: progress 500ms ease-in;
      -webkit-animation-fill-mode: forwards;
    }

    &--loaded {
      width: 100%;
    }
  }

  &__content {
    display: block;
    border-radius: 2px;
    box-shadow: 0 0 0 2px #fff;
    color: initial !important;
    text-decoration: none !important;

    &::after {
      content: "";
      clear: both;
      display: table;
    }

    &--rendered {
      background: #fff;
      border: 1px solid rgba(201, 201, 204, 0.48);
      box-shadow: 0 1px 3px rgba(0,0,0, .1);
      border-radius: 6px;
      will-change: filter;
      animation: link-in 450ms 1 cubic-bezier(0.215, 0.61, 0.355, 1);

      &:hover {
        box-shadow: 0 0 3px rgba(0,0,0, .16);
      }
    }
  }

  &__src {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 1.5rem 0;
    width: 100%;
    border-radius: 3px;
    float: right;
  }

  &__title {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.5em;
    margin: 0 0 10px 0;

    + ^&__anchor {
      margin-top: 25px;
    }
  }

  &__label {
    font-size: .8rem;
    display: block;
    margin: 0 auto 0.2rem auto;
    max-width: 95%;
  }

  &__caption, &__alt, &__id {
    margin: 0 0 20px 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.55em;
    margin-bottom: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    width: 100%;
  }

  &__caption, &__alt {
    border: none;
    -webkit-box-shadow: inset 1px -1px 6px 2px #ddd;
    -moz-box-shadow: inset 1px -1px 6px 2px #dddddd;
    box-shadow: inset 1px -1px 6px 2px #ddd;
    border-radius: 0.3rem;
    margin: 0 auto 1rem;
    max-width: 95%;
    overflow: scroll;
    padding: 7px;
    resize: none;
  }

  &__anchor {
    display: block;
    font-size: 15px;
    line-height: 1em;
    color: #888 !important;
    border: 0 !important;
    padding: 0 !important;
  }
}

@keyframes link-in {
  from {
    filter: blur(5px);
  }

  to {
    filter: none;
  }
}

.codex-editor--narrow .canto-tool__image {
  display: none;
}

@-webkit-keyframes progress {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}
